/* 제일 바깥 */
.mycourse-editor-total-container {
  margin: 0 auto;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

/* 새로운코스만들기 or 수정하기 타이틀  */
.mycourse-editor-subject-container {
  margin: 100px auto;
  text-align: center;
  width: 730px;
  height: 50px;
  border-bottom: 2px solid var(--gray-50);
  font-size: 32px;
  font-weight: 400;
}

/* input+img */
.mycourse-editor-course-name-container {
  width: 360px;
  position: relative;
  margin: 50px auto 100px auto;
  text-align: center;
  display: flex;
  border: 2px solid var(--gray-200);
  border-radius: 10px;
  align-items: center;
}

/*  input */
.mycourse-editor-input-course-name {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 32px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.mycourse-editor-input-course-name::placeholder {
  text-align: center;
  font-size: 26px;
}

/*  연필이미지 */
.mycourse-editor-pencil-img {
  width: 30px;
  height: 30px;
}

/* 플러스 버튼까지 */
.mycourse-editor-course-container {
  width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid var(--gray-200);
  padding-top: 110px;
  padding-bottom: 90px;
}

/* 저장 버튼 */
.save-button-container {
  margin-bottom: 280px;
  margin-top: 100px;
}

.save-button {
  font-size: 25px;
  position: absolute;
  right: 0;
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
}

/*  임시 content */
.mycourse-editor-content {
  margin-left: 430px;
}

