.mycourse-item-container {
  display: flex;
  width: 1000px;
  height: 100px;
  margin-bottom: 40px;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.mycourse-item-container:hover {
  border: 2px solid var(--secondary);
  cursor: pointer;
}

.mycourse-item-title {
  display: inline-block;
  font-size: 28px;
  padding-left: 30px;
  margin-right: 30px;
}
.mycourse-item-img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.mycourse-item-like-number {
  font-size: 24px;
  gap: 5px;
}

.mycourse-item-writer{
  display: inline-block;
  color: var(--gray-500);
  font-size: 24px;
  font-weight: 200;
  margin-right: 30px;
}

.mycourse-item-date {
  display: inline-block;
  color: var(--gray-500);
  font-size: 24px;
  font-weight: 200;
  margin-right: 30px;
}
