.inquiry-board-qna-filter-search-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 60px auto 0 auto;
}

.inquiry-board-qna-hr {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 1px solid var(--gray-50);
}



