.mycourse-find-interest-modal-container{
  width: 750px;
  height: 750px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 0 35px 0;
  
}

.mycourse-find-interest-modal-title{
   font-size: 28px;
   display: block;
   display: flex;
   justify-content: center;
   margin-bottom: 35px;
}


.mycourse-find-interest-modal-list-box-container{
display: flex;
flex-direction: column;
gap: 20px;
height: 100%;
overflow: hidden;
}
