.share-button {
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 30px;
}

.shared {
  width: 255px;
  border: 1px solid var(--secondary);
  color: var(--white);
  background-color: var(--secondary);
}

.not-shared {
  width: 210px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background-color: white;
}
