.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.writeboard-total-container {
  width: 700px;
  height: 500px;
  padding: 30px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #cccccc;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--white);
}

.writeboard-categories-title-container{
  display: flex;
  gap: 10px;
}

.writeboard-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}

/* .board-select-box {
  color: var(--gray-600);
  font-size: 16px;
  width: 150px;
  height: 40px;
  padding-left: 5px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
} */

.board-title {
  width: 320px;
  height: 40px;
  padding-left: 10px;
  color: var(--black);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
}

.board-title::placeholder{
  color: var(--gray-600)
}

.board-content {
  width: 640px;
  height: 250px;
  margin-top: 20px;
  color: var(--black);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  outline: none;
  padding:10px;
  resize: none;
}

.board-content::placeholder{
  color: var(--gray-600);
  line-height: 0.9;

}

.board-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.board-button-cancel {
  width: 120px;
  height: 40px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary);
  cursor: pointer;
}
.board-button-submit {
  width: 120px;
  height: 40px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  margin-left: 20px;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}
