/* 시간 고르는 달력 */
.mycourse-time-container {
  width: 320px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid var(--gray-200);
  padding: 20px 10px 20px 20px;
  color: #464646;
  font-size: 23px;
  position: absolute;
  bottom: 300px;
}

.mycourse-time-container > input {
  border: none;
}

.mycourse-time-container > input:focus {
  outline: none;
}

input[type="time"]::-webkit-calender-picker-indicator {
  display: none;
}
