.mycourse-data-box-total-container {
  position: relative;
  width: 900px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom:120px;
}

/* 개별 박스 */
.mycourse-data-box-box-inner-container {
  width: 900px;
  height: 200px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  position: relative;
  padding: 23px;
}

/* 박스 hover 효과 */
/* .mycourse-data-box-box-inner-container:hover {
  border: 2px solid var(--secondary);
} */

/*  가게 이름 */
.mycourse-data-box-box-title {
  font-size: 30px;
  position: absolute;
  font-weight: 500;
}

/* 찜, 좋아요 전체 div  */
.mycourse-data-box-box-like-jjim-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-size: 22px;
  position: relative;
}

/* 하트 아이콘 + 숫자 */
.mycourse-data-box-box-jjim {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

/* 하트 아이콘 버튼 */
.mycourse-data-box-box-jjim > button {
  all: unset;
  cursor: pointer;
}

/* 하트 옆 숫자 */
.mycourse-data-box-box-jjim-number {
  margin-left: 30px;
}

/* 따봉 아이콘 + 숫자 */
.mycourse-data-box-box-like {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
}

/* 따봉 아이콘 버튼 */
.mycourse-data-box-box-like > button {
  all: unset;
  cursor: pointer;
}

/* 따봉 옆 숫자 */

.mycourse-data-box-box-like-number {
  margin-left: 30px;
}

/* 영업중 */
.mycourse-data-box-box-runtime {
  font-size: 20px;
  position: absolute;
  top: 145px;
  left: 26px;
  color: var(--blue-200);
}

/* 영업준비중 */
.mycourse-data-box-box-runtime.ready {
  font-size: 20px;
  position: absolute;
  top: 145px;
  left: 26px;
  color: var(--gray-700);
}


/* 간략 주소 */
.mycourse-data-box-box-address-brief {
  font-size: 20px;
  position: absolute;
  top: 111px;
}



/* 왼쪽 이미지 */
.mycourse-data-box-box-img1 {
  position: absolute;
  right: 320px;
  top: 30px;
  width: 135px;
  height: 135px;
  border-radius: 5px;
}


/* 중간 이미지 */
.mycourse-data-box-box-img2 {
  position: absolute;
  right: 175px;
  top: 30px;
  width: 135px;
  height: 135px;
  border-radius: 5px;
}

/* 오른쪽 이미지 */
.mycourse-data-box-box-img3 {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 135px;
  height: 135px;
  border-radius: 5px;
}

.mycourse-data-box-down-arrow-img {
  margin: 40px auto;
  display: block;
}
