
.detail-review-box{
  padding: 24px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}


.detail-review-img-nick-container{
  display: flex;
}

.detail-review-img-container{
  /* border: 1px solid transparent;
  border-radius: 30px; */
  aspect-ratio: 1/1;
}

.detail-review-img-container > img{
  border: 1px solid var(--primary);
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.detail-review-profile-name{
  margin-left: 10px;
  margin-top: 3px;
  /* background-color: aqua; */
  /* font-weight: 500; */
}

.detail-review-inner-top-container{
  display: flex;
  justify-content: space-between;
}



.detail-review-content{
  display: block;
margin-left: 42px;
margin-top: 12px;
font-size: 20px;
}

.detail-review-date{
  font-size: 18px;
  color: var(--gray-500);
}