.community-inquiry-box-total-container {
  width: 1000px;
  height: 90px;
  margin: 40px auto;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  overflow: hidden;
}

.community-inquiry-box-total-container:hover{
  border: 2px solid var(--secondary);
}

.community-inquiry-box-total-container-expanded {
  width: 1000px;
  margin: 40px auto;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  height: 100%;
}

.community-inquiry-box-title-img-nickname-content-container {
  width: 1000px;
}

.community-inquiry-box-title {
  font-size: 28px;
  margin: 30px 0 70px 40px;
  
}

.community-inquiry-box-img-nickname-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 500;
}

.community-inquiry-box-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.community-inquiry-box-content {
  width: 920px;
  margin: 30px auto 45px auto;
  font-size: 24px;
}
