.noticeitems-total-container {
  width: 1000px;
  height: 90px;
  margin: 30px auto;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  overflow: hidden;
}
.noticeitems-total-container-expanded {
  width: 1000px;
  margin: 30px auto;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  height: 100%;
}
.noticeitems-division-date-container {
  width: 160px;
  height: 30px;
  font-size: 20px;
  color: var(--gray-400);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -18px;
  right: 40px;
}

.noticeitems-title-division-date-content-container {
  width: 1000px;
  position: relative;
}

.noticeitems-title {
  font-size: 26px;
  margin: 30px 0 30px 40px;
}

.noticeitems-content {
  width: 920px;
  margin: 50px auto;
  font-size: 20px;
  line-height: 1.5;
}
