.login-container {
  width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  display: block;
  text-align: center;
  margin-bottom: 53px;
  font-size: 32px;
  position: relative;
  font-weight: 400;
}

.login-community-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.login-community-container > a > img {
  width: 60px;
  height: 60px;
}

.login-community-kakao {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #fddc3f;
  border-radius: 10px;
}

.login-community-naver {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  background-color: #00c73c;
  border-radius: 10px;
}

.login-community-google {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  border: 1px solid var(--gray-900);
  border-radius: 10px;
}

.login-community-kakao-icon,
.login-community-naver-icon,
.login-community-google-icon {
  position: absolute;
  left: 70px;
}

.login-community-naver-letter,
.login-community-kakao-letter,
.login-community-google-letter {
  font-size: 20px;
}

.login-community-naver-letter {
  color: white;
}
