.mycoursedatabox-total-container {
  position: relative;
  /* display: flex; */
  width: 670px;
  justify-content: center;
  align-items: center;
}

.mycoursedatabox-box-container {
  display: block;
  width: 670px;
}

/* 개별 박스 */
.mycoursedatabox-box-inner-container {
  width: 670px;
  height: 133px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
  padding-top: 16px;
}

/* 박스 hover 효과 */
/* .mycoursedatabox-box-inner-container:hover {
  border: 2px solid var(--secondary);
} */

/*  가게 이름 */
.mycoursedatabox-box-title {
  font-size: 20px;
  position: absolute;
  font-weight: 500;
}

/* 찜, 좋아요 전체 div  */
.mycoursedatabox-box-like-jjim-container {
  display: flex;

  flex-direction: row;
  margin-top: 30px;
  position: relative;
}

/* 하트 아이콘 + 숫자 */
.mycoursedatabox-box-jjim {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

/* 하트 아이콘 버튼 */
.mycoursedatabox-box-jjim > button {
  all: unset;
  cursor: pointer;
}

/* 하트 옆 숫자 */
.mycoursedatabox-box-jjim-number {
  margin-left: 35px;
}

/* 따봉 아이콘 + 숫자 */
.mycoursedatabox-box-like {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

/* 따봉 아이콘 버튼 */
.mycoursedatabox-box-like > button {
  all: unset;
  cursor: pointer;
}

/* 따봉 옆 숫자 */

.mycoursedatabox-box-like-number {
  margin-left: 35px;
}

/* 영업중 */
.mycoursedatabox-box-runtime {
  font-size: 20px;
  position: absolute;
  top: 46px;
  left: 160px;
  color: var(--blue-200);
}

/* 가게 소개 */
.mycoursedatabox-box-intro {
  font-size: 20px;
  position: absolute;
  top: 78px;
}

/* 간략 주소 */
.mycoursedatabox-box-address-brief {
  font-size: 20px;
  position: absolute;
  top: 102px;
}

.mycoursedatabox-box-img1 {
  position: absolute;
  right: 160px;
  top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.mycoursedatabox-box-img2 {
  position: absolute;
  right: 30px;
  top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.mycoursedatabox-downArrow-img {
  margin: 60px auto;
  display: block;
}
