.mycourse-data-box-total-container {
  position: relative;
  width: 670px;
  height: 133px;
  justify-content: center;
  align-items: center;
}

.mycourse-data-box-box-container {
  display: block;
  width: 670px;
}

/* 개별 박스 */
.mycourse-data-box-box-inner-container {
  width: 670px;
  height: 133px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  position: relative;
  padding-left: 15px;
  padding-top: 13px;
}

/* 박스 hover 효과 */
/* .mycourse-data-box-box-inner-container:hover {
  border: 2px solid var(--secondary);
} */

/*  가게 이름 */
.mycourse-data-box-box-title {
  font-size: 20px;
  position: absolute;
  font-weight: 500;
}

/* 찜, 좋아요 전체 div  */
.mycourse-data-box-box-like-jjim-container {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  position: relative;
}

/* 하트 아이콘 + 숫자 */
.mycourse-data-box-box-jjim {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

/* 하트 아이콘 버튼 */
.mycourse-data-box-box-jjim > button {
  all: unset;
  cursor: pointer;
}

/* 하트 옆 숫자 */
.mycourse-data-box-box-jjim-number {
  margin-left: 25px;
  margin-top: 2px;
}

/* 따봉 아이콘 + 숫자 */
.mycourse-data-box-box-like {
  display: flex;
  flex-direction: row;
}

/* 따봉 아이콘 버튼 */
.mycourse-data-box-box-like > button {
  all: unset;
  cursor: pointer;
}

/* 따봉 옆 숫자 */

.mycourse-data-box-box-like-number {
  margin-left: 25px;
  margin-top: 2px;
}

/* 영업중 */
.mycourse-data-box-box-runtime {
  font-size: 15px;
  position: absolute;
  top: 95px;
  color: var(--blue-200);
}

/* 영업준비중 */
.mycourse-data-box-box-runtime.ready {
  font-size: 15px;
  position: absolute;
  top: 95px;
  color: var(--gray-700);
}


/* 간략 주소 */
.mycourse-data-box-box-address-brief {
  font-size: 15px;
  position: absolute;
  top: 72px;
}

/* 왼쪽 이미지 */
.mycourse-data-box-box-img1 {
  position: absolute;
  right: 133px;
  top: 14px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

/* 오른쪽 이미지 */
.mycourse-data-box-box-img2 {
  position: absolute;
  right: 17px;
  top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.mycourse-data-box-box-img3 {
  position: absolute;
  right: 250px;
  top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.mycourse-data-box-down-arrow-img {
  margin: 60px auto;
  display: block;
}
