.mycourse-find-box-total-container {
  position: relative;
}
.mycourse-find-box-button-container {
  width: 670px;
  height: 133px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  border-radius: 10px;
  gap: 14px;
}

.mycourse-find-box-down-arrow-img {
  margin: 40px auto;
  display: block;
}

