.delete-button {
  position: absolute;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: var(--secondary);
  background-color: white;
  border: 1px solid var(--secondary);
  top: -40px;
  right: 0;
  cursor: pointer;
}
