.edit-share-button-container {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  width: 1100px;
  margin-bottom: 20px;
}

.edit-button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
}
.share-button {
  width: 210px;
  height: 50px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  color: var(--secondary);
  background-color: white;
  cursor: pointer;
  margin-left: 30px;
}
