.filter-container {
  margin-top: 20px;
  padding-left: 326px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-900);
}

.filter-container > a {
  text-decoration: none;
}

.filter-container a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.filter-p {
  margin: 0 6px;
}
