.filter-container {
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-900);
  width: 500px;
  height: 100%;
}

.filter-container > a {
  text-decoration: none;
  white-space: nowrap;
}

.filter-container a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.filter-p {
  margin: 0 6px;
}
