
/* 찾기박스+화살표 */
.mycourse-find-box-total-container {
  position: relative;
  width: 900px;
  height: 100%;
  margin: 0 auto 100px auto;
  background-color: transparent;
}

.mycourse-find-box-button-container {
  width: 900px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--primary);
  border-radius: 10px;
  gap: 10px;
}

.mycourse-find-box-down-arrow-img {
  margin: 40px auto;
  display: block;
}
