.ComeBackList-button-container {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  width: 990px;
}

.ComeBackList-button {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  margin-bottom: 20px;
}
