.list-component-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px;
  width: 1000px;
  padding-left: 20px;
}

/* 필터 */
.list-filter-container {
  display: flex;
  width: auto;
}

.list-list-container {
  width: 1000px;
  height: 100%;
  border: 2px solid var(--primary);
  /* border-bottom: 0px; */
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto 70px auto;
  padding: 36px 26px 0px 26px;  
}

.list-list-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-no-search-result{
  display: block;
  margin-top: 85px;
  margin-bottom: 115px;
  font-size: 22px;
  color: var(--gray-700);
  display: flex;
  justify-content: center;
}