.list-component-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 1000px;
}

.list-list-container {
  width: 1000px;
  height: 1000px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  margin: 0 auto;
  padding: 36px 26px 0px 26px;
}

.list-list-box-container{
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}