/* 리스트 박스 전체 */
.mycourse-list-container {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

/* 필터 */
.mycourse-list-filter-control {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
  font-size: 23px;
}
