/* 리스트 박스 전체 */
.mycourse-list-container {
  /* background-color: aqua; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* gap: 35px; */
}

/* 필터 */
.mycourse-list-filter-control {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
  font-size: 18px;
}
