.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.a11y-hidden {
  display: none;
}

.report-modal-container{
  width: 500px;
  height: 730px;
  background-color: var(--white);
  color: var(--black);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.report-modal-title{
  font-weight: 600;
  /* font-size: 35px; */
}

.report-modal-radio-container > fieldset {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 0px;
  margin-left: 15px;
}


.report-modal-select{
  display: flex;
  justify-content: center;
  padding: 50px 0 15px 0; 
  position: relative;
  margin-bottom: 30px;
  /* border-bottom: 1px solid var(--gray-900); */
  /* padding: 0; */
  /* background-color: antiquewhite; */
}

.hr{
 width: 85%;
  color:var(--gray-300);
  /* border: 1px solid var(--gray-900); */
  margin-bottom: 30px;

}

.report-modal-close-btn{
  width: 17px;
  height: 17px;
  position: absolute;
  border: 0;
  cursor: pointer;
  top:27px;
  right: 27px;
  background-color: transparent;
}

.report-modal-close-btn-img{
  width: 17px;
  height: 17px;
  /* background-color: aqua; */
  position: absolute;
  right: 0;
  top: 0;
}

.report-modal-radio-container{
  display: flex;
}

.report-modal-etc-input{
  width: 360px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--gray-900);
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 10px;
}



.report-btn-container {
  display: flex;
  justify-content: center;
}

.report-btn {
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  width: 420px;
  height: 80px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

