.mycourse-find-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 100%;
}

.mycourse-find-search-img-container {
  width: 20px;
  position: absolute;
  right: 150px;
}

.mycourse-find-search-img-container > a {
  pointer-events: auto;
}

.mycourse-find-search-img-container > a > img {
  width: 20px;
}

.mycourse-find-search-input-container {
  display: block;
  width: 450px;
  height: 40px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  font-size: 20px;
}
