.mycourse-find-box-button {
  width: 200px;
  background-color: transparent;
  border: 2px solid var(--gray-200);
  border-radius: 5px;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
}

.mycourse-find-box-button:hover {
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}