@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap");


.main-category-box {
  width: 260px;
  height: 260px;
  background: var(--primary);
  border-radius: 20px;
  padding: 30px 0px 0px 30px;
  position: relative;
  transition: transform 0.5s ease; 
}

.main-category-box:hover{
  transform: translateY(-18px);
}


.main-category-box-title {
  color: #ffffff;
  font-size: 45px;
  font-family: "Gugi", cursive !important;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.main-category-box-img {
  position: absolute;
  top: 130px;
  left: 130px;
}
