@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap");

.main-header-container {
  width: 1000px;
  height: 60px;
  margin: 30px auto;
  display: flex;
}

.main-header-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
}

.main-header-menu-left-container {
  display: flex;
  gap: 20px;
}

header > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-50);
  margin: 0;
}

.main-header-mypage {
  margin-left: 70px;
}

.main-header-logout {
  all: unset;
  margin-left: 20px;
  cursor: pointer;
}

.main-header-menu-login-status-container {
  display: flex;
  align-items: center;
}
