@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap");

.main-header-container {
  width: 1000px;
  height: 60px;
  margin: 30px auto;
}

.main-header-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  height: 100%;
}

.main-header-container > ul > li {
  float: left;
  font-size: 20px;
}

.main-header-login {
  margin-left: 180px;
}
header > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-50);
}
