@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap");

.main-header-container {
  width: 1000px;
  height: 60px;
  margin: 30px auto;
}

.main-header-container > ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0;
  list-style: none;
  height: 100%;
  /* background-color: aqua; */
}

.main-header-container > ul > li {
  /* float: left; */
  font-size: 20px;
  /* background-color: blue; */
}

.main-header-menu-container{
  display: flex;
  font-size: 20px;
  gap: 30px;
  margin-left: 40px;

}

.main-header-login {
  margin-left: 300px;
}

.main-header-mypage {
  margin-left: 30px;
}
header > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-50);
  margin: 0;
}
