:root {
  /* color */

  --primary: #cfbaff;
  --secondary: #a279ff;

  --black: #000000;
  --black2: #231f20;
  --black3: #333333;

  --white: #ffffff;
  --white2: #fffdfd;
  --white3: #fbfbfb;

  --red-100: #ff6d6d;
  --red-200: #f03f40;
  --red-300: #ff0000;

  --blue-100: #bacdff;
  --blue-200: #33b5ff;

  --gray-50: #e0e0e0;
  --gray-100: #e5e5e5;
  --gray-200: #d9d9d9;
  --gray-300: #d0d0d0;
  --gray-400: #a6a6a6;
  --gray-500: #808080;
  --gray-600: #818181;
  --gray-700: #898989;
  --gray-800: #959595;
  --gray-900: #989898;

  /* space  */
  --spacing-sxxs: 2px;
  --spacing--xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-base: 16px;
  --spacing-md: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --minus-spacing-sxxs: -2px;
  --minus-spacing--xxs: -4px;
  --minus-spacing-xs: -8px;
  --minus-spacing-sm: -12px;
  --minus-spacing-base: -16px;
  --minus-spacing-md: -20px;
  --minus-spacing-lg: -24px;
  --minus-spacing-xl: -32px;
}
