.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.mycourse-find-recommend-modal-container {
  width: 700px;
  height: 750px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 0 35px 0;
}

.mycourse-find-recommend-modal-title {
  font-size: 28px;
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  font-weight: 500;
}

.mycourse-find-recommend-close-btn {
  width: 17px;
  height: 17px;
  position: absolute;
  border: 0;
  cursor: pointer;
  right: 40px;
  background-color: transparent;
}

.mycourse-find-recommend-close-btn-img {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.mycourse-find-recommend-modal-list-box-container {
  height: 100%;
  overflow-y: auto; /* 모달 리스트 박스 스크롤 추가 */
  width: 90%; /* 리스트 박스 컨테이너 폭 설정 */
}

.no-recommend-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-700);
}
