.profileSetting-main-nicknameChange-container {
  position: relative;
  display: flex;
  width: 700px;
  height: 60px;
  left: 300px;
  bottom: 680px;
  margin-top: 40px;
  justify-content: space-between;
}

.profileSetting-main-nicknameChange-title {
  width: 140px;
  font-size: 20px;
  line-height: 16 0px;
  margin: auto 25px auto 0;
}

.profileSetting-main-nicknameChange-input {
  width: 330px;
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.profileSetting-main-nicknameChange-button {
  width: 150px;
  height: 60px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  color: var(--primary);
  margin-left: 30px;
}

.profileSetting-main-nicknameChange-container button:hover {
  cursor: pointer;
}
