.community-component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 1000px;
}

.community-filter-container {
  display: flex;
  justify-content: space-between;
}

.writing-btn-container {
  position: fixed;
  width: 100%;
  bottom: 23%;
  right: 2%;
  z-index: 1000;
}

.writing-btn{
  position: absolute;
  border: 0;
  background:transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
