.profileSetting-main-profileChange-container {
  position: relative;
  width: 800px;
  height: 160px;
  left: 320px;
  bottom: 680px;
  display: flex;
}
.profileSetting-main-profileChange-title {
  width: 120px;
  font-size: 25px;
  line-height: 16 0px;
  margin: auto 130px auto 0;
}

.profileSetting-main-profileChange-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.profileSetting-main-profileChange-background {
  position: relative;
  width: 160px;
  height: 160px;
  right: 160px;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 50%;
}

.profileSetting-main-profileChange-changeImg {
  position: relative;
  width: 30px;
  height: 30px;
  right: 254px;
  top: 66px;
}

.profileSetting-main-profileChange-click {
  width: 180px;
  height: 180px;
  position: relative;
  border: 2px solid var(--gray-300);
  border-radius: 10px;
  right: 360px;
  bottom: 10px;
}
