.save-button-container {
  display: flex;
  width: 860px;
  justify-content: flex-end;
  font-size: 25px;
}

.save-button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  margin-bottom: 20px;
}
