.filter-container {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-900);
  width: 500px;
  height: 100%;
}

.filter-container button:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.filter-p {
  margin: 0 14px;
}

.filter-recommend,
.filter-close,
.filter-review,
.filter-open {
  border: none;
  background-color: transparent;
  color: var(--gray-900);
}
