.signup-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.signup-title-container {
  position: relative;
}

.signup-title {
  display: block;
  text-align: center;
  margin-bottom: 53px;
  font-size: 32px;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 53px;
  font-weight: 400;
}

.essential {
  display: block;
  font-size: 18px;
  position: absolute;
  right: 50%;
  top: 45%;
  transform: translate(485%, 0);
}

.signup-inner-container {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.signup-email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-email-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-email-input::placeholder {
  color: #757575;
}

.signup-email-certification {
  all: unset;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  text-align: center;
  cursor: pointer;
}

.signup-pw-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signup-pw {
  margin-right: 84px;
}

.signup-pw-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-pw-input::placeholder {
  color: #757575;
}

.signup-pw-check {
  margin-right: 34px;
}

.signup-pw-check-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-pw-check-input::placeholder {
  color: #757575;
}

.signup-birth-date {
  margin-right: 84px;
}

.signup-birth-date-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-birth-date-input::placeholder {
  color: #757575;
}

.signup-nickname {
  margin-right: 106px;
}

.signup-nickname-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-nickname-input::placeholder {
  color: #757575;
}

.signup-mbti {
  margin-right: 114px;
}

.mbti-select-IE {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-SN {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-TF {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-JP {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  padding-left: 11px;
  color: #757575;
}

.signup-gender-container {
  display: flex;
}

.signup-gender {
  margin-right: 112px;
}

.mbti-color {
  color: black;
}
