.signup-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.signup-title-container {
  position: relative;
}

.signup-title {
  display: block;
  text-align: center;
  margin-bottom: 53px;
  font-size: 32px;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 53px;
  font-weight: 400;
}

.essential {
  display: block;
  /* text-align: right; */
  font-size: 18px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(480%, 0);
}

.signup-inner-container {
  font-size: 25px;
}

.signup-email-container {
  margin-bottom: 45px;
  /* color: #757575; */
}

.signup-email {
  margin-top: 85px;
  margin-right: 100px;
}

.signup-email-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-email-input::placeholder {
  color: #757575;
}

.signup-email-certification {
  all: unset;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

.signup-pw-container {
  margin-bottom: 45px;
}

.signup-pw {
  margin-right: 80px;
}

.signup-pw-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-pw-input::placeholder {
  color: #757575;
}

.signup-pw-check-container {
  margin-bottom: 45px;
}

.signup-pw-check {
  margin-right: 30px;
}

.signup-pw-check-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-pw-check-input::placeholder {
  color: #757575;
}

.signup-birth-date-container {
  margin-bottom: 45px;
}

.signup-birth-date {
  margin-right: 80px;
}

.signup-birth-date-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-birth-date-input::placeholder {
  color: #757575;
}

.signup-nickname-container {
  margin-bottom: 45px;
}

.signup-nickname {
  margin-right: 100px;
}

.signup-nickname-input {
  all: unset;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  padding-left: 26px;
}

.signup-nickname-input::placeholder {
  color: #757575;
}

.signup-mbti-container {
  margin-bottom: 45px;
}

.signup-mbti {
  margin-right: 105px;
}

.mbti-select-IE {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-SN {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-TF {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  /* text-align: center; */
  margin-right: 20px;
  padding-left: 11px;
  color: #757575;
}

.mbti-select-JP {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray-400);
  text-align: center;
  padding-left: 11px;
  color: #757575;
}

.gender {
  margin-right: 100px;
}

.male {
}

.female {
}

.mbti-color {
  color: black;
}

/* .required {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
} */
