.mycoursemyversion-total-container {
  width: 670px;
  margin: 0 auto;
  margin-top: 100px;
}

.mycoursemyversion-title-container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.mycoursemyversion-title {
  font-size: 32px;
}

.mycoursemyversion-input-title {
  width: 370px;
  padding-bottom: 10px;
  font-size: 32px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-200);
  text-align: center;
}

.mycoursemyversion-input-title::placeholder {
  text-align: center;
}

.mycoursemyversion-img-title {
  position: absolute;
  right: 30px;
  top: 4px;
}
