.myinfo-total-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 800px;
}

.myinfo-title-container {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  width: 730px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray-50);
  margin: 100px 0 0 270px;
}

.myinfo-categories-container {
  position: absolute;
  width: 1000px;
}

/* 윗부분 */
.myinfo-logo-info-container {
  display: flex;
  position: absolute;
  left: 335px;
  top: 100px;
}

.myinfo-circle-logo {
  width: 160px;
  height: 160px;
  margin-right: 70px;
  margin-top: 20px;
}
.myinfo-info-container {
  width: 360px;
  height: 200px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 20px 10px;
}

.myinfo-nickname-container,
.myinfo-email-container,
.myinfo-birthday-container,
.myinfo-mbti-container {
  width: 300px;
  display: flex;
  font-size: 20px;
  line-height: 0;
  margin-left: 20px;
}

.myinfo-nickname-line,
.myinfo-email-line {
  margin-left: 36px;
  margin-right: 20px;
  color: var(--gray-200);
}
.myinfo-birthday-line {
  margin-left: 19px;
  margin-right: 20px;
  color: var(--gray-200);
}
.myinfo-mbti-line {
  margin-left: 41px;
  margin-right: 20px;
  color: var(--gray-200);
}

/* 아랫부분 */
.myinfo-status-container {
  background-color: var(--primary);
  color: white;
  width: 670px;
  height: 180px;
  border-radius: 20px;
  font-size: 24px;
  position: absolute;
  top: 300px;
  left: -35px;
}

.myinfo-status-myStatus {
  display: inline-block;
  width: 730px;
  height: 70px;
  margin: 0;
  align-items: center;
  padding: 24px 0 0 24px;
}

.myinfo-status-heart {
  display: inline-block;
  margin-left: 2px;
  width: 165px;
  height: 108px;
  background-color: white;
  border-radius: 0 0 0 20px;
}
.myinfo-status-thumb {
  display: inline-block;
  margin-left: 2px;
  width: 165px;
  height: 108px;
  background-color: white;
  border-radius: 0 0 0 0;
}
.myinfo-status-write {
  display: inline-block;
  margin-left: 2px;
  width: 165px;
  height: 108px;
  background-color: white;
  border-radius: 0 0 0 0;
}
.myinfo-status-course {
  display: inline-block;
  margin-left: 2px;
  width: 165px;
  height: 108px;
  background-color: white;
  border-radius: 0 0 20px 0;
}

.myinfo-status-heart-title,
.myinfo-status-thumb-title,
.myinfo-status-write-title,
.myinfo-status-course-title {
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 20px 0 0 20px;
}

.myinfo-status-heart-num,
.myinfo-status-thumb-num,
.myinfo-status-write-num,
.myinfo-status-course-num {
  font-size: 32px;
  color: var(--gray-900);
  margin: 0;
  padding: 16px 0 20px 20px;
}
