.list-box-container {
  all: unset;
}

/* 개별 박스 */
.list-box-inner-container {
  width: 950px;
  height: 220px;
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  position: relative;
  padding: 27px;
  cursor: pointer;
  margin-bottom: 35px;
}

/* 박스 hover 효과 */
.list-box-inner-container:hover {
  border: 2px solid var(--secondary);
}

/*  가게 이름 */
.list-box-title {
  font-size: 33px;
  position: absolute;
  font-weight: 500;
  top: 36px;
}

/* 찜, 좋아요 전체 div  */
.list-box-like-jjim-container {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
  font-size: 22px;
  position: relative;
}

/* 하트 아이콘 + 숫자 */
.list-box-jjim {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

/* 하트 아이콘 버튼 */
.list-box-jjim > button {
  all: unset;
  cursor: pointer;
}

/* 하트 옆 숫자 */
.list-box-jjim-number {
  margin-left: 35px;
}

/* 따봉 아이콘 + 숫자 */
.list-box-like {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

/* 따봉 아이콘 버튼 */
.list-box-like > button {
  all: unset;
  cursor: pointer;
}

/* 따봉 옆 숫자 */

.list-box-like-number {
  margin-left: 35px;
}

/* 영업중 */
.list-box-runtime {
  font-size: 22px;
  position: absolute;
  top: 202px;
  left: 26px;
  color: var(--blue-200);
}

/* 영업준비중 */
.list-box-runtime.ready {
  font-size: 22px;
  position: absolute;
  top: 202px;
  left: 26px;
  color: var(--gray-700);
}

/* 간략 소개 */
.list-box-intro{
  font-size: 22px;
  position: absolute;
  top: 128px;
}

/* 간략 주소 */
.list-box-address-brief {
  font-size: 22px;
  position: absolute;
  top: 154px;
}

/* .list-box-img1 {
  position: absolute;
  right: 410px;
  top: 40px;
  width: 180px;
  height: 180px;
  border-radius: 5px;
} */

.list-box-img1 {
  position: absolute;
  right: 220px;
  top: 40px;
  width: 140px;
  height: 140px;
  border-radius: 5px;
}

.list-box-img2 {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 140px;
  height: 140px;
  border-radius: 5px;
}
