.mycourse-myversion-total-container {
  width: 670px;
  margin: 0 auto;
  margin-top: 100px;
}

.mycourse-myversion-title-container {
  width: 400px;
  margin: 50px auto 100px auto;
  text-align: center;
  position: relative;
}

.mycourse-myversion-title {
  font-size: 32px;
}

.mycourse-myversion-input-title {
  width: 370px;
  padding-bottom: 10px;
  font-size: 32px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-200);
  text-align: center;
}

.mycourse-myversion-input-title::placeholder {
  text-align: center;
}

.mycourse-myversion-img-title {
  position: absolute;
  right: 30px;
  top: 4px;
}

.mycourse-myversion-calendar-container {
  position: relative;
  top: 225px;
}

.mycourse-myversion-edit-share-button-container {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  width: 1100px;
  margin-bottom: 100px;
}
.mycourse-find-box-down-arrow-img {
  margin: 40px auto;
  display: block;
}
