.mycourse-detail-total-container {
  margin: 0 auto;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  margin-bottom: 280px;
}

/* 나만의 코스 제목 */
.mycourse-detail-title-container {
  margin: 100px auto 60px auto;
  text-align: center;
  width: 730px;
  height: 50px;
  border-bottom: 2px solid var(--gray-50);
  font-size: 32px;
  font-weight: 400;
}

/* 작성 날짜 */
.mycourse-detail-created-date-container{
  font-size: 20px;
  margin: 0 0 10px auto;
  display: flex;
  height: 30px;
  color: var(--gray-500);
  justify-content: space-between;
}

/* 코스 상자 */
.mycourse-detail-course-container {
  width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid var(--gray-200);
  padding-top: 55px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

/* 달력+가게컴포넌트 */
.mycourse-detail-course-item-container {
  margin: 0 auto;
}

/* 달력 */
.mycourse-detail-calendar-container {
display: inline-block;
border-radius: 5px;
border: 3px solid var(--gray-200);
padding: 10px 20px 10px 20px;
color: black;
margin-bottom: 10px;
font-size: 25px;
text-align: center;

}

/* 아래화살표이미지 */
.mycourse-detail-down-arrow-img {
  width: 50px;
  height: 50px;
  margin: 40px auto;
}

/* 편집+공유 버튼 */
.mycourse-detail-edit-share-button-container {
  display: flex;
  font-size: 25px;
  position: absolute;
  right: 0;
  margin-top: 100px;
}

.mycourse-data-box-down-arrow-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}
