.mycourse-item-container {
  display: flex;
  width: 1000px;
  height: 100px;
  margin-bottom: 40px;
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}



.mycourse-item-container:hover {
  border: 2px solid var(--secondary);
}

.mycourse-item-title {
  display: inline-block;
  font-size: 28px;
  padding-left: 30px;
}


  
  .mycourse-item-date {
    display: inline-block;
    color: var(--gray-500);
    font-size: 24px;
    font-weight: 200;
    padding-right: 30px;
  }
  

  