.my-wrote-total-container {
  width: 1000px;
  margin: 0 auto;
}

.my-wrote-title-container {
  font-size: 32px;
  font-weight: 400;
  width: 730px;
  padding-bottom: 20px;
  text-align: center;
  margin: 100px 0 0 270px;
  border-bottom: 2px solid var(--gray-50);
}


.my-wrote-filter-main-container {
  position: relative;
  width: 730px;
  bottom: 720px;
  left: 270px;
}



.my-wrote-main-title-container {
  display: flex;
  width: 730px;
  font-size: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--gray-50);
  flex-direction: column;
}

.no-board-list{
display: flex;
justify-content: center;
height: 100%;
margin: 0 auto;
padding-top: 50px;
font-size: 20px;
color: var(--gray-700);
}