.mycourse-myversion-edit-total-container {
  width: 670px;
  margin: 0 auto;
  margin-top: 100px;
}

.mycourse-myversion-edit-title-container {
  width: 400px;
  margin: 50px auto 100px auto;
  text-align: center;
  position: relative;
}

.mycourse-myversion-edit-title {
  font-size: 32px;
}

.mycourse-myversion-edit-calendar-container{
  position: relative;
  top: 225px;
}
