.mycourse-myversion-edit-total-container {
  width: 670px;
  margin: 0 auto;
  margin-top: 100px;
}

.mycourse-myversion-edit-title-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.mycourse-myversion-edit-title {
  font-size: 32px;
}

.mycourse-myversion-edit-calendar-container {
  position: relative;
  top: 225px;
}

.mycourse-write-total-container {
  margin: 0 auto;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.mycourse-write-title-container {
  width: 400px;
  margin: 50px auto 100px auto;
  text-align: center;
  position: relative;
}

.mycourse-write-input-title {
  width: 370px;
  padding-bottom: 10px;
  font-size: 32px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-200);
  text-align: center;
}

.mycourse-write-input-title::placeholder {
  text-align: center;
}

.mycourse-write-img-title {
  position: absolute;
  right: 30px;
  top: 4px;
}

/* 플러스 버튼까지 */
.mycourse-write-course-container {
  width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid var(--gray-200);
  padding-top: 110px;
  padding-bottom: 90px;
}

.save-button-container {
  margin-bottom: 280px;
  margin-top: 100px;
}

.save-button {
  font-size: 25px;
  position: absolute;
  right: 0;
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
}
