.mycourse-myversion-edit-total-container {
  width: 670px;
  margin: 0 auto;
  margin-top: 100px;
}

.mycourse-myversion-edit-title-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.mycourse-myversion-edit-title {
  font-size: 32px;
}

.mycourse-myversion-edit-calendar-container{
  position: relative;
  top: 225px;
}

.mycourse-write-total-container {
  margin: 0 auto;
  margin-top: 100px;
}

.mycourse-write-title-container {
  width: 400px;
  margin: 50px auto 100px auto;
  text-align: center;
  position: relative;
}

.mycourse-write-input-title {
  width: 370px;
  padding-bottom: 10px;
  font-size: 32px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-200);
  text-align: center;
}

.mycourse-write-input-title::placeholder {
  text-align: center;
}

.mycourse-write-img-title {
  position: absolute;
  right: 30px;
  top: 4px;
}

.mycourse-write-course-container{
  background-color: aqua;
  width: 1000px;
  margin: 0 auto;
}

.save-button-container {
  display: flex;
  width: 860px;
  justify-content: flex-end;
  font-size: 25px;
  margin-top: 120px;
}

.save-button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  margin-bottom: 100px;
}
