.myInfo-title-container {
  display: block;
  text-align: center;
  margin: 100px 0 30px 0;
  font-size: 32px;
  font-weight: 400;
}

.myInfo-categories-hr-container {
  display: flex;
}

hr {
  margin-top: 0;
  margin-left: 20px;
  width: 730px;
  border: 1px solid var(--gray-50);
}
