/* 검색창 + 위치 */
.main-search-wrapper {
  display: flex;
  flex-direction: column;
  margin: 70px auto 70px auto;
  width: 800px;
}

/* 검색창 div */
.main-search-container {
  display: flex;
  align-items: center;
  width: 800px;
  height: 80px;
  margin-bottom: 15px;
  border: 2px solid var(--primary);
  border-radius: 40px;
}

/* 로고 + input + 검색버튼*/
.main-search-input-container {
  width: 100%;
  height: 40px;
  display: flex;

  position: relative;
  align-items: center;
}

/* 로고 */
.main-search-logocircle {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
}

/* input */
.main-search-input {
  width: 620px;
  height: 100%;
  border: none;
  font-size: 20px;
  position: absolute;
  left: 90px;
}

.main-search-input::placeholder {
  color: var(--gray);
  font-size: 18px;
}

.main-search-input:focus {
  outline: none;
}

/* 검색버튼 */
.main-search-button {
  all: unset;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

/* 돋보기 이미지 */
.main-search-button > img {
  width: 35px;
  height: 35px;
}

/* 위치아이콘 + 위치정보 div */
.main-search-location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #818181;
  /* background-color: aqua; */
}

.main-search-location-container > img{
width: 25px;
height: 25px;
}

/* 위치정보 span */


.main-search-location-current {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.location-access-denied-bubble {
  position: absolute;
  top: -8px;
  right: -220px;
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
}

.location-access-denied-bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px; /* Adjust this value as needed */
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffcccc transparent transparent;
  border-right-width: 16px; /* This makes the triangle thinner while keeping the height */
}
