.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-img-container {
  width: 770px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.main-img-container > a {
  pointer-events: auto;
}

.main-search-container {
  display: block;
  width: 800px;
  height: 80px;
  border: 1px solid var(--primary);
  margin: 50px auto;
  border-radius: 30px;
  padding-left: 65px;
  outline: none;
}

.main-img-container > img {
  width: 40px;
  height: 40px;
}
