.mycourse-plus-box-total-container {
  width: 900px;
  height: 200px;
  margin: 0 auto;
  border: 3px solid var(--primary);
  border-radius: 10px;
}

/* 플러스 박스 */
.mycourse-plus-box-plus-box {
  display: block;
  width: 950px;
  height: 200px;
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
}

.mycourse-plus-box-plus-button {
  position: absolute;
  transform: translate(-100%, -50%);
}
