/* 개별 박스 */
.mycourse-list-box-inner-container {
  width: 600px;
  height: 133px;
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
  padding-top: 16px;
  margin-bottom: 21px;
}

/* 박스 hover 효과 */
.mycourse-list-box-inner-container:hover {
  border: 2px solid var(--secondary);
}

/* 가게 이름 */
.mycourse-list-box-title {
  font-size: 22px;
  position: absolute;
  font-weight: 500;
}

/* 하트+따봉 숫자까지 전부 다 합친 div */
.mycourse-list-box-like-jjim-container {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  font-size: 16px;
  position: relative;
}

/* 하트 아이콘 + 숫자 */
.mycourse-list-box-jjim {
  display: flex;
  flex-direction: row;
}

/*  하트 아이콘 이미지 */
.mycourse-list-box-jjim > img {
  width: 18px;
  height: 18px;
  position: absolute;
}

/* 하트 옆 숫자 */
.mycourse-list-box-jjim-number {
  margin-left: 25px;
}

/*  따봉 아이콘 + 숫자 */
.mycourse-list-box-like {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

/* 따봉 아이콘 이미지 */
.mycourse-list-box-like > img {
  width: 18px;
  height: 18px;
  position: absolute;
}

/* 따봉 옆 숫자 */
.mycourse-list-box-like-number {
  margin-left: 25px;
}

/* 영업중 */
.mycourse-list-box-runtime {
  font-size: 16px;
  position: absolute;
  top: 99px;
  color: var(--blue-200);
}

/* 영업준비중 */
.mycourse-list-box-runtime.ready{
  font-size: 16px;
  position: absolute;
  top: 99px;
  color: var(--gray-700);
}

/* 주소 요약 */
.mycourse-list-box-address-brief {
  font-size: 16px;
  position: absolute;
  top: 75px;
}

/* 왼쪽 이미지 */
.mycourse-list-box-img1 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 235px;
  top: 16px;
  border-radius: 5px;
}

/* 중간 이미지 */
.mycourse-list-box-img2 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 128px;
  top: 16px;
  border-radius: 5px;
}

/* 오른쪽 이미지 */
.mycourse-list-box-img3 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 20px;
  top: 16px;
  border-radius: 5px;
}
