/* 전체 영역 */
.my-wrote-post-container {
  width: 730px;
  height: 77px;
  border: 1px solid var(--gray-400);
  border-radius: 10px 10px 10px 10px;
  margin-top: 40px;
  padding-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
.my-wrote-post-container-expanded {
  width: 730px;
  height: 100%;
  border: 1px solid var(--gray-400);
  border-radius: 10px 10px 10px 10px;
  margin-top: 40px;
  padding-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* 버튼 전까지 윗부분 영역 */
.my-wrote-post-content-container {
  padding-bottom: 30px;
  padding: 25px 30px 15px 30px;
  border-radius: 10px 10px 0 0;
}

/* 제목+날짜 */
.my-wrote-post-content-title-date {
  display: flex;
  justify-content: space-between;
}

/* 제목 */
.my-wrote-post-title {
  font-size: 25px;
  font-weight: 500;
}

.my-wrote-post-category-date {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 카테고리 */
.my-wrote-post-category {
  display: block;
  font-size: 20px;
  color: var(--gray-500);
}

/* 날짜 */
.my-wrote-post-date {
  display: block;
  font-size: 20px;
  color: var(--gray-500);
}

/* 프로필 이미지+닉네임 */
.my-wrote-post-profile {
  margin-top: 30px;
  display: flex;
}

/* 프로필 이미지 */
.my-wrote-post-profile-img {
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 닉네임 */
.my-wrote-post-profile-nick {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
}

/* 글 내용 */
.my-wrote-post-content {
  display: inline-block;
  font-size: 20px;
  margin: 30px;
  line-height: 1.3;
}

/* 공감수 + 신고 아이콘묶음*/
.my-wrote-post-number-report-wapper {
  font-size: 20px;
  margin-top: 60px;
  color: var(--gray-900);
  display: flex;
}

/* 좋아요 */
.my-wrote-post-like-number {
  margin-right: 6px;
}

/* 조회수 */
.my-wrote-post-view-number {
  margin-right: 6px;
}

/* 신고 버튼 */
.my-wrote-post-report-button {
  all: unset;
  padding: 0;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

/* 버튼 묶음 */
.my-wrote-post-button-wrapper {
  background-color: var(--gray-400);
  font-size: 20px;
  position: relative;
}

/* 댓글 달기 버튼 */
.my-wrote-post-comment-button {
  background-color: var(--white);
  width: 730px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
  cursor: pointer;
  position: relative;

  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
}

/* 댓글 아이콘 */
.my-wrote-post-comment-button-img {
  position: absolute;
  left: 310px;
  top: 20px;
}

/* 댓글창 전체 박스 */
.my-wrote-post-comment-container {
  padding: 25px 30px 0 30px;
}

/* 입력창 묶음 */
.my-wrote-post-comment-input-container {
  display: flex;
  gap: 16px;
  position: relative;
}

/* 입력창 프로필 이미지 */
.my-wrote-post-comment-input-profile-img {
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 7px;
}

/* 입력창 input */
.my-wrote-post-comment-input {
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  padding: 18px 80px 18px 18px;
}

/* 제출 버튼 */
.my-wrote-post-comment-input-button {
  width: 50px;
  height: 65px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 18px;
}

/* 제출 버튼 hover 효과 */

.my-wrote-post-comment-input-button img.my-wrote-post-comment-input-button-img-hover {
  display: none;
}

.my-wrote-post-comment-input-button:hover img.my-wrote-post-comment-input-button-img {
  display: none;
}

.my-wrote-post-comment-input-button:hover img.my-wrote-post-comment-input-button-img-hover {
  display: block;
  position: absolute;
  top: 12px;
  right: 7px;
}

/* 입력창 input focus 효과 */
.my-wrote-post-comment-input:focus {
  outline: none;
  border-color: var(--secondary);
}

/* 댓글 내용 ul */
.my-wrote-post-comment {
  padding: 0;
  margin-top: 25px;
}

/*  댓글 내용 li */
.my-wrote-post-comment > li {
  list-style: none;
  margin: 0;
  display: flex;
}

/* 댓글 닉네임+날짜 */
.my-wrote-post-comment-nick-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 댓글 내용 프로필 이미지 */
.my-wrote-post-comment-profile-img {
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 댓글 박스 */
.my-wrote-post-comment-box {
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  padding: 18px;
  margin-left: 16px;
  width: 100%;
  height: 100%;
}

/* 댓글 박스 안 닉네임 */
.my-wrote-post-comment-box-nick {
  font-size: 22px;
  font-weight: 500;
}

/* 댓글 박스 안 날짜 */
.my-wrote-post-comment-box-date {
  font-size: 18px;
  color: var(--gray-500);
}

/* 댓글 박스 안 내용 */
.my-wrote-post-comment-box-content {
  font-size: 20px;
}
