.community-component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 60px;
  width: 1000px;
  /* background-color: aqua; */
}

.community-filter-container {
  display: flex;
  justify-content: space-between;
}

