/* 개별 박스 */
.mypage-list-box-inner-container{
  width: 730px;
  height: 160px;
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  position: relative;
  padding: 20px;
}

/* 박스 hover 효과 */
.mypage-list-box-inner-container:hover{
  border: 2px solid var(--secondary);
}

/* 가게 이름 */
.mypage-list-box-title{
  font-size: 24px;
  position: absolute;
  font-weight: 500;
}

/* 하트+따봉 숫자까지 전부 다 합친 div */
.mypage-list-box-like-jjim-container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  font-size: 16px;
  position: relative;
}


/* 하트 아이콘 + 숫자 */
.mypage-list-box-jjim{
  display:flex;
  flex-direction: row;
}


/*  하트 아이콘 이미지 */
.mypage-list-box-jjim > img{
  width: 18px;
  height: 18px;
position: absolute;
}


/* 하트 옆 숫자 */
.mypage-list-box-jjim-number{
  margin-left: 25px;
}


/*  따봉 아이콘 + 숫자 */
.mypage-list-box-like{
  display:flex;
  flex-direction: row;
  margin-left: 15px;
}

/* 따봉 아이콘 이미지 */
.mypage-list-box-like > img{
width: 18px;
height: 18px;
position: absolute;
}


/* 따봉 옆 숫자 */
.mypage-list-box-like-number{
  margin-left: 25px;
}


/* 영업시간 */
.mypage-list-box-runtime{
  font-size: 16px;
  position: absolute;
  top: 60px;
  left: 177px;
  color: var(--blue-200);
}

/* 간단 소개 */
.mypage-list-box-intro{
  font-size: 16px;
  position: absolute;
  top: 90px;
}


/* 주소 요약 */
.mypage-list-box-address-brief{
  font-size: 16px;
  position: absolute;
  top: 120px;
}


/* 왼쪽 이미지 */
.mypage-list-box-img1{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 160px;
  top: 19px;
  border-radius: 5px;
}

/* 오른쪽 이미지 */
.mypage-list-box-img2{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 20px;
  top: 19px;
  border-radius: 5px;

}

