.mypage-list-box-inner-container{
  width: 670px;
  height: 160px;
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  position: relative;
  padding: 20px;
}

.mypage-list-box-inner-container:hover{
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  border: 1px solid var(--secondary);
}

.mypage-list-box-title{
  font-size: 24px;
  position: absolute;
  font-weight: 500;
}


.mypage-list-box-like-jjim-container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  font-size: 16px;
  position: relative;
}

.mypage-list-box-jjim{
  display:flex;
  flex-direction: row;
}

.mypage-list-box-jjim-number{
  margin-left: 25px;
}


.mypage-list-box-like{
  display:flex;
  flex-direction: row;
  margin-left: 15px;
}

.mypage-list-box-like-number{
  margin-left: 25px;
}



.mypage-list-box-runtime{
  font-size: 16px;
  position: absolute;
  top: 60px;
  left: 177px;
  color: var(--blue-200);

}

.mypage-list-box-intro{
  font-size: 16px;
  position: absolute;
  top: 90px;
  /* background-color: pink; */
}


.mypage-list-box-address-brief{
  font-size: 16px;
  position: absolute;
  top: 120px;
  /* background-color: aquamarine; */
}

.mypage-list-box-img1{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 160px;
  top: 19px;
  border-radius: 5px;

}

.mypage-list-box-img2{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 20px;
  top: 19px;
  border-radius: 5px;

}

