/* 개별 박스 */
.mypage-list-box-inner-container{
  width: 730px;
  height: 160px;
  border: 1px solid var(--gray-400);
  border-radius: 20px;
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
}

/* 박스 hover 효과 */
.mypage-list-box-inner-container:hover{
  border: 2px solid var(--secondary);
  cursor: pointer;
}

/* 가게 이름 */
.mypage-list-box-title{
  font-size: 24px;
  position: absolute;
  font-weight: 500;
}

/* 하트+따봉 숫자까지 전부 다 합친 div */
.mypage-list-box-like-jjim-container{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  font-size: 16px;
  position: relative;
}


/* 하트 아이콘 + 숫자 */
.mypage-list-box-jjim{
  display:flex;
  flex-direction: row;
}


/*  하트 아이콘 이미지 */
.mypage-list-box-jjim > img{
  width: 18px;
  height: 18px;
position: absolute;
}


/* 하트 옆 숫자 */
.mypage-list-box-jjim-number{
  margin-left: 25px;
}


/*  따봉 아이콘 + 숫자 */
.mypage-list-box-like{
  display:flex;
  flex-direction: row;
  margin-left: 15px;
}

/* 따봉 아이콘 이미지 */
.mypage-list-box-like > img{
width: 18px;
height: 18px;
position: absolute;
}


/* 따봉 옆 숫자 */
.mypage-list-box-like-number{
  margin-left: 25px;
}


/* 주소 */
.mypage-list-box-address-brief{
  font-size: 16px;
  position: absolute;
  top: 95px;

}


/* 전화번호 */
.mypage-list-box-phone{
  font-size: 16px;
  position: absolute;
  top: 120px;
}


.mypage-list-box-phone.not_provided{
  font-size: 16px;
  position: absolute;
  top: 120px;
  color: var(--gray-700);
}


/* 맨왼쪽 이미지 */
/* .mypage-list-box-img1{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 275px;
  top: 19px;
  border-radius: 5px;
} */

/* 중간 이미지 */
.mypage-list-box-img1{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 200px;
  top: 19px;
  border-radius: 5px;

}

/* 맨 오른쪽 이미지 */
.mypage-list-box-img2{
  position: absolute;
  width: 120px;
  height: 120px;
  right: 40px;
  top: 19px;
  border-radius: 5px;

}

