.filter-container {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;

}

.filter-container button:hover {
  color: var(--secondary);
  text-decoration: underline;
  cursor: pointer;
}

.filter-bar{
  display: block;
  margin: 0 10px;
  color: var(--gray);
}

.filter-total,
.filter-free,
.filter-worry,
.filter-question {
  border: none;
  background-color: transparent;
  color: var(--gray);
  margin: 0;
  padding: 0;
}
