.inquiry-board-filter-search-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  /* font-size: 20px; */
  /* background-color: aqua; */
}

.inquiry-board-hr {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 1px solid var(--gray-50);
}
