.inquiry-board-filter-search-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  align-items: center;
}

.inquiry-board-hr {
  margin-top: 20px;
  margin-bottom: 60px;
  height:1px;
  background-color: var(--gray-50);
  border: 0;
}
