.token-extension-container {
  width: 248px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  position: relative;
  position: absolute;
  right: -150%;
  transform: translateY(-50%);
  border: 1px var(--primary);
  background-color: var(--primary);
  color:white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 5px;
}

.token-extension-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px; /* Adjust this value as needed */
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--primary) transparent transparent;
  border-right-width: 16px;
}

.token-extension-time {
  margin-right: 10px;
}

.token-extension-button {
  width: 50px;
  /* padding: 10px 10px; */
  color: white;
  background-color: var(--primary);
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 185px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.token-extension-button:hover {
  color: var(--secondary);
  background-color: white;
  border: 1px solid var(--secondary);
}
