.token-extension-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
  position: relative; 
}

.token-extension-time {
  margin-right: 10px;
}

.token-extension-button {
  width: 60px;
  padding: 10px 10px;
  color: var(--primary);
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  position: absolute; 
  left: 185px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.token-extension-button:hover {
  color: var(--secondary);
  background-color: white;
  border: 1px solid var(--secondary);
}
